@page "/"

<PageTitle>Home</PageTitle>

<div class="container py-5">
    <h1 class="mb-5 text-center">Welcome to <img style="height: 2em; margin-right: 0.5em;margin-left: 0.5em;" src="/logo.png" /> Bookshelf!</h1>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Search for Books</h2>
                    <p class="card-text">Find your favorite books with our easy-to-use search feature. Just type in the title or author's name and get instant results.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Manage Your Bookshelf</h2>
                    <p class="card-text">Add books to your personal bookshelf, remove books you've finished reading, and keep track of books you want to read in the future.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Rate and Review Books</h2>
                    <p class="card-text">Share your thoughts on the books you've read. Rate them on a scale of 1 to 5 and write reviews to help other users.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Discover New Books</h2>
                    <p class="card-text">Explore books recommended by other users, discover new releases, and find books related to your favorite genres.</p>
                </div>
            </div>
        </div>
    </div>
</div>

